body {
  width: 100%;
  margin: auto;
  max-width: 1440px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
h4,
p {
  font-family: "roboto", sans-serif;
}

.head-mobile {
  width: 100%;
}
@media (max-width: 768px) {
  .head-mobile {
    width: 110%;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  padding: 21px 0;
}
header img {
  max-width: 168px;
}
header i {
  align-items: flex-start;
}

main img {
  height: 300px;
  object-fit: cover;
  object-position: 50% 70%;
  width: 100%;
}

.main-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  flex-direction: column;
  border-radius: 3rem 3rem 0 0;
  margin: -40px auto;
  position: relative;
}
.main-container h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  align-items: flex-start;
}
.main-container i {
  display: flex;
  font-size: 2rem;
  padding-right: 3rem;
}

.card-title {
  font-family: "Shrikhand", cursive;
  display: flex;
  gap: 20px;
}

.far {
  align-self: flex-end;
}

.starter h3::after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

.card-menu {
  display: flex;
  width: 634px;
  background: var(--white, #FFF);
  border-radius: 20px;
}

.card-menu .card {
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.prix {
  display: flex;
  align-items: center;
}

.starter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.starter h3 {
  align-self: flex-start;
  font-weight: 300;
}

.dish {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.dish h3 {
  align-self: flex-start;
  font-weight: 300;
}

.dish h3::after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

.dessert {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 70px;
}
.dessert h3 {
  align-self: flex-start;
  font-weight: 300;
}

.dessert h3::after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

.btn-explore {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.btn-explore label {
  background-color: #9356DC;
  padding: 15px 50px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.btn-explore label:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 3px 10px #ff79da;
}

footer {
  max-width: 1440px;
  width: 100%;
  height: 114px;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 40px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  footer {
    width: 120%;
    margin-right: 20px;
    height: 100%;
    flex-direction: column;
  }
}
footer h4 {
  margin: 70px 60px 30px 20px;
}
@media (max-width: 768px) {
  footer h4 {
    margin: 22px 0 0 25px;
  }
}
footer a {
  text-decoration: none;
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding-right: 100px;
  margin-top: 45px;
  padding: 10px 10px;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .footer-content {
    margin: 0;
    padding: 10px 0 22px 22px;
    flex-direction: column-reverse;
    gap: 0;
  }
}

footer .logo-footer {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=page5.css.map */
